.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}

.header input {
  width: 200px;
  height: 30px;
}
.header h1 {
  padding-left: 20px;
}
.header h1,
p {
  margin: 0px;
  color: white;
}

.header1 {
  display: flex;
  gap: 60px;
}

.header2 {
  display: flex;
  gap: 40px;
  padding-right: 30px;
}
