.header {
  background-color: rgba(26, 26, 26, 0.97);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;

  gap: 30px;
}

.header input {
  width: 200px;
  height: 30px;
}
.header h1 {
  padding-left: 20px;
}
.header h1,
p {
  margin: 0px;
  color: white;
}

.header1 {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header2 {
  display: flex;
  gap: 40px;
  padding-right: 30px;
}

.header2 p {
  color: grey;
}

.header2 p:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.search {
  border-radius: 10px;
  border: none;
  background-color: rgba(155, 155, 155, 0.53);
  color: white;
}

.search::placeholder {
  color: white;
  padding-left: 10px;
}

.cart {
  display: flex;
  gap: 5px;
}
