.item1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  padding: 20px 10px;
}

.infohead {
  margin-bottom: 5px;
}

.item1 p {
  font-size: 25px;
}

.item1:hover {
  background-color: rgba(128, 128, 128, 0.507);
  cursor: pointer;
  transition: 0.1s;
}

.it {
  margin-right: 70px;
}

.addproduct {
  border-top: 1px solid white;
  padding-left: 15px;
}

.addproduct h5 {
  font-size: 20px;
  margin-top: 20px;
}

.prodinfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.prodinfo p {
  font-size: 17px;
  margin-bottom: 3px;
  margin-top: 15px;
}

.prodinfo input {
  width: 400px;
  height: 35px;
  background-color: grey;
  border: none;
}

.prodinfo textarea {
  background-color: grey;
  width: 400px;
  height: 102px;
  border: none;
}

.prodinfo input::placeholder {
  color: black;
}

.prodinfo textarea::placeholder {
  color: black;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown select {
  width: 180px;
  height: 30px;
  background-color: grey;
}

.addproduct button {
  background-color: white;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addproduct button:hover {
  background-color: black;
  color: white;
  transition: 0.1s;
}
.upd {
  display: none;
}
